<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Enterprise MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>            
            <nav>
                <ul class="menu">
                    <li>@Html.ActionLink("Root", "Index", "Account", new { Area = "" }, null)</li>
                    <li>@Html.ActionLink("Motorvogn", "Index", "Account", new { Area = "Motorvogn" }, null)</li>
                    <li>@Html.ActionLink("Innbo", "Index", "Account", new { Area = "Innbo" }, null)</li>
                    
                </ul>
                <ul class="menu">
                    <li>@Html.ActionLink("Redirect (Motorvogn)", "ActionWithError", "Account", new { Area = "Motorvogn" }, null)</li>
                    <li>@Html.ActionLink("Redirect (Innbo)", "ActionWithError", "Account", new { Area = "Innbo" }, null)</li>
                </ul>
            </nav>
                
        </header>
        <div id="body">
            
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </body>
</html>