@using System.Activities.Statements
@model MVC_reusability.Models.AccountModel
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
    @RenderBody()

<div>
    <h1>
        @if (IsSectionDefined("ProductDetails"))
        {
            @RenderSection("ProductHeader", false)
        }
        else
        {
            <span>Root area</span>
        }
    </h1>

    <h2>Her er det felles informasjon</h2>
    <b>Navn: </b>@Model.Name<br/>
    <b>Adresse: </b> @Model.Address<br/>
    @if (IsSectionDefined("ProductDetails"))
    {
        <div class="client-specific">
            @RenderSection("ProductDetails", false)
        </div>
    }
    
    <b>Forfalls dato: </b> @Model.DueDate.ToString("dd/MM")<br/>
    <b>Forsikkringspremie: </b> @Model.InsurenceAmount.ToString("C")<br/>
    
     @if (IsSectionDefined("ProductCommands"))
    {
        <div class="client-specific">
            @RenderSection("ProductCommands", false)
        </div>
    }
    
</div>
